header {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.466);
  background-color: whitesmoke;
  padding: 10px 20px;
  position: fixed;
  z-index: 10;
}
header nav {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
header nav .brand {
  width: -moz-max-content;
  width: max-content;
  height: 50px;
  flex: 1;
  position: relative;
}
header nav .brand img {
  height: 100%;
}
header nav .nav-bar {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex: 3;
  justify-content: center;
  gap: 0 30px;
  position: relative;
  background-color: whitesmoke;
  transition: 0.3s cubic-bezier(0.1, 0.49, 0.48, 0.88);
}
header nav .nav-bar a {
  font-size: 16px;
  color: rgb(34, 34, 34);
  padding: 15px 10px;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.1, 0.49, 0.48, 0.88);
}
header nav .nav-bar a:hover {
  background-color: rgb(226, 226, 226);
}
header nav .loging {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  flex: 1;
  position: relative;
}
header nav .loging .sign-in,
header nav .loging .btn {
  font-size: 16px;
  color: rgb(42, 160, 56) !important;
  border: 1px solid rgb(42, 160, 56);
  padding: 10px 12px;
  border-radius: 7px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.1, 0.49, 0.48, 0.88);
}
header nav .loging .sign-in:hover,
header nav .loging .btn:hover {
  background-color: rgb(42, 160, 56);
  color: whitesmoke !important;
}
header nav .dropdown-menu {
  display: none;
  position: relative;
  padding-right: 5px;
}
header nav .dropdown-menu .material-symbols-rounded {
  padding: 3px;
  background-color: rgb(231, 255, 233);
  border: 1px solid rgb(42, 160, 56);
  color: rgb(42, 160, 56);
  border-radius: 5px;
}

@media (max-width: 1199.98px) {
  header nav .loging .btn {
    display: none;
  }
}
@media (max-width: 1000.99px) {
  header nav .brand {
    flex: none;
    width: -moz-max-content;
    width: max-content;
  }
  header nav .nav-bar {
    flex: none;
    width: -moz-max-content;
    width: max-content;
  }
  header nav .loging {
    flex: none;
    width: -moz-max-content;
    width: max-content;
  }
}
@media (max-width: 767.98px) {
  header {
    padding: 3px 0px;
  }
  header nav .brand {
    margin-left: 5px;
  }
  header nav .nav-bar {
    width: 100%;
    z-index: -1;
    position: absolute;
    margin-top: 0px;
  }
  header nav .loging {
    display: none;
  }
  header nav .dropdown-menu {
    display: block;
  }
}
@media (max-width: 575.98px) {
  header nav .nav-bar {
    gap: 0 5px;
  }
  header nav .nav-bar a {
    font-size: 12px;
    font-weight: 600;
  }
}
a.btn {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10px 12px;
  border-radius: 7px;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  border: 1.5px solid rgb(42, 160, 56);
  font-weight: 600 !important;
  color: rgb(34, 34, 34) !important;
  position: relative;
  overflow: hidden;
}
a.btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(42, 160, 56);
  transform: rotate(30deg);
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  position: absolute;
  top: 40px;
  bottom: 0;
  right: 0;
  left: -70px;
  z-index: -2;
}
a.btn::after {
  content: "";
  width: 100%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: rotate(30deg);
  transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s;
  position: absolute;
  top: 40px;
  bottom: 0;
  right: 0;
  left: -70px;
  z-index: -2;
}
a.btn:hover {
  transform: scale(1.1);
  color: rgb(231, 255, 233) !important;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
}
a.btn:hover::before {
  transform: scale(2.7) rotate(30deg);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
a.btn:hover::after {
  transform: rotate(30deg);
  inset: -27px 0px 0px 62px;
}

a.light-green {
  background-color: rgb(231, 255, 233);
}

a.transparent {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(42, 160, 56) !important;
}

@media (max-width: 575.98px) {
  a.btn {
    padding: 5px 6px;
    font-size: 14px !important;
    font-weight: normal;
  }
}
main {
  padding: 100px 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s cubic-bezier(0.1, 0.49, 0.48, 0.88);
}

@media (max-width: 767.98px) {
  main {
    padding: 80px 10px;
    gap: 120px;
  }
}
@media (max-width: 575.98px) {
  main {
    gap: 100px;
  }
}
main #jumbotron {
  width: 100%;
  height: 600px;
  background-color: whitesmoke;
  border-radius: 25px;
  background-image: url("./../img/Carousel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
main #jumbotron::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.658);
  position: absolute;
  inset: 0 0 0 0;
}
main #jumbotron .jumbotron-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  padding: 50px 150px;
  text-align: center;
  inset: 0 0 0 0;
}
main #jumbotron .jumbotron-body .jumbotron-title {
  margin: 0 0 30px 0;
  text-transform: capitalize;
  font-size: 38px;
  font-weight: 600;
  color: white;
}
main #jumbotron .jumbotron-body .jumbotron-text {
  font-size: 16px;
  line-height: 25px;
  margin: 0 0 40px 0;
}
main #jumbotron .jumbotron-body .jumbotron-btn {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 10px;
}
main #jumbotron .jumbotron-body .jumbotron-btn a:last-child {
  display: none;
}

@media (max-width: 767.98px) {
  main #jumbotron {
    height: 400px;
  }
  main #jumbotron .jumbotron-body {
    padding: 0px 15px;
  }
}
@media (max-width: 575.98px) {
  main #jumbotron {
    height: 300px;
  }
  main #jumbotron .jumbotron-body {
    padding: 0px 15px;
  }
  main #jumbotron .jumbotron-body .jumbotron-title {
    font-size: 20px;
    margin: 0 0 15px 0;
  }
  main #jumbotron .jumbotron-body .jumbotron-text {
    font-size: 12px;
    margin: 0 0 10px 0;
  }
  main #jumbotron .jumbotron-body .jumbotron-btn a:last-child {
    display: block;
  }
}
main #charity {
  width: 85%;
  height: 120px;
  margin-top: -200px;
  background-color: white;
  border-radius: 20px;
  transition: 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  position: relative;
  overflow: hidden;
}
main #charity:hover {
  transform: scale(1.01);
}
main #charity::before {
  content: "";
  width: 100%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: rotate(30deg);
  position: absolute;
  inset: 0 0 0 -750px;
  transition: 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
main #charity:hover::before {
  transform: rotate(30deg);
  inset: 0 0 0 650px;
}
main #charity .container {
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: #2aa038;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 0 30px;
}
main #charity .container .charity-total {
  flex: 1;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 25px;
  position: relative;
}
main #charity .container .charity-total p:first-child {
  font-size: 18px;
}
main #charity .container .container-item {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main #charity .container .container-item .history,
main #charity .container .container-item .achievment,
main #charity .container .container-item .donation {
  color: rgb(231, 255, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 0;
  cursor: pointer;
  flex: 1;
}
main #charity .container .container-item .history:hover,
main #charity .container .container-item .achievment:hover,
main #charity .container .container-item .donation:hover {
  color: rgb(187, 187, 187);
}
main #charity .container .container-item .history span,
main #charity .container .container-item .achievment span,
main #charity .container .container-item .donation span {
  font-size: 27px;
  font-weight: 600;
}

@media (max-width: 1000.98px) {
  main #charity {
    width: 95%;
    height: 100px;
    border-radius: 10px;
  }
  main #charity .container {
    padding: 10px;
    gap: unset;
  }
  main #charity .container .charity-total {
    border-radius: 10px;
    font-size: 16px;
  }
  main #charity .container .history,
  main #charity .container .achievment,
  main #charity .container .donation {
    gap: unset;
    font-size: 14px;
  }
}
@media (max-width: 767.98px) {
  main #charity {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    margin-top: -50px;
  }
  main #charity .container .charity-total {
    border-radius: 10px;
    font-size: 12px;
  }
  main #charity .container .history,
  main #charity .container .achievment,
  main #charity .container .donation {
    gap: unset;
    font-size: 12px;
  }
}
@media (max-width: 575.98px) {
  main #charity {
    width: 80%;
    margin-top: -60px;
  }
  main #charity::before {
    display: none;
  }
  main #charity .container {
    flex-direction: column;
    gap: 20px 0;
  }
  main #charity .container .charity-total {
    flex: none;
    width: 100%;
    border-radius: 10px;
    font-size: 12px;
  }
  main #charity .container .container-item {
    gap: 0 15px;
  }
  main #charity .container .container-item .history,
  main #charity .container .container-item .achievment,
  main #charity .container .container-item .donation {
    font-size: 12px;
  }
}
main #donation {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px 0;
}
main #donation .title {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
  text-transform: capitalize;
}
main #donation .title p:first-child {
  font-size: 35px;
  color: black;
  font-weight: 600;
  margin-bottom: 15px;
}
main #donation .title p:last-child {
  font-size: 18px;
  color: grey;
}
main #donation .container {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
main #donation .container .card {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  color: rgb(42, 160, 56);
  text-align: center;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px 0;
  overflow: hidden;
  box-shadow: 0 0 8px -6px black;
}
main #donation .container .card:hover {
  transform: scale(1.05);
  color: white;
  background-color: rgba(240, 248, 255, 0);
}
main #donation .container .card::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(42, 160, 56);
  position: absolute;
  inset: 210px 0 0 0;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  z-index: -1;
}
main #donation .container .card:hover::before {
  inset: 0 0 0 0;
}
main #donation .container .card span {
  font-size: 30px;
}

@media (max-width: 1199.98px) {
  main #donation .container {
    gap: 20px;
  }
  main #donation .container .card {
    width: 170px;
    height: 170px;
    padding: 12px;
    border-radius: 9px;
  }
}
@media (max-width: 767.98px) {
  main #donation .title p:first-child {
    font-size: 20px;
    margin-bottom: 7px;
  }
  main #donation .title p:last-child {
    font-size: 16px;
  }
  main #donation .container .card {
    width: 150px;
    height: 150px;
  }
  main #donation .container .card span {
    font-size: 25px;
  }
  main #donation .container .card p {
    font-size: 14px;
  }
}
@media (max-width: 575.98px) {
  main #donation .title p:first-child {
    font-size: 20px;
    margin-bottom: 7px;
  }
  main #donation .title p:last-child {
    font-size: 16px;
  }
  main #donation .container {
    gap: 10px;
  }
  main #donation .container .card {
    padding: 5px;
    width: 120px;
    height: 120px;
  }
  main #donation .container .card span {
    font-size: 16px;
  }
  main #donation .container .card p {
    font-size: 11px;
  }
}
main #overview {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px 0;
}
main #overview .title {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
  text-transform: capitalize;
}
main #overview .title p:first-child {
  font-size: 35px;
  color: black;
  font-weight: 600;
  margin-bottom: 15px;
}
main #overview .title p:last-child {
  font-size: 18px;
  color: grey;
}
main #overview .container {
  width: 100%;
  height: 570px;
  padding: 30px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 25px;
  box-shadow: 0 0 8px -6px black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main #overview .container .overview-img {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
main #overview .container .overview-img img {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
}
main #overview .container .overview-body {
  width: 50%;
  height: 100%;
  padding-left: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
}
main #overview .container .overview-body::before {
  content: "";
  width: 3px;
  height: 85%;
  margin: auto 0;
  background-color: grey;
  position: absolute;
  inset: 0 0 0 0;
}
main #overview .container .overview-body .card {
  width: 190px;
  height: 190px;
  padding: 15px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px 0;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  box-shadow: 0 0 8px -6px black;
  cursor: pointer;
}
main #overview .container .overview-body .card:first-child {
  background-image: url("./../img/kebakaran-hutan.jpeg");
}
main #overview .container .overview-body .card:nth-child(2) {
  background-image: url("./../img/penangkaran-hewan.jpg");
}
main #overview .container .overview-body .card:nth-child(3) {
  background-image: url("./../img/gizi-buruk.jpg");
}
main #overview .container .overview-body .card:last-child {
  background-image: url("./../img/sungai-tercemar.jpg");
}
main #overview .container .overview-body .card::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(42, 160, 56, 0.5);
  position: absolute;
  inset: 0 0 0 0;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
main #overview .container .overview-body .card:hover {
  transform: scale(1.1);
}
main #overview .container .overview-body .card:hover::before {
  background-color: rgba(42, 160, 56, 0.8);
}
main #overview .container .overview-body .card p {
  color: rgb(255, 255, 255);
  font-weight: 600;
  z-index: 1;
}

@media (max-width: 1199.98px) {
  main #overview .container {
    height: 450px;
    padding: 10px;
  }
  main #overview .container .overview-img img {
    width: -moz-max-content;
    width: max-content;
    height: 90%;
  }
  main #overview .container .overview-body {
    padding-left: 10px;
  }
  main #overview .container .overview-body .card {
    width: 140px;
    height: 140px;
  }
}
@media (max-width: 767.98px) {
  main #overview .title p:first-child {
    font-size: 20px;
    margin-bottom: 7px;
  }
  main #overview .title p:last-child {
    font-size: 16px;
  }
  main #overview .container {
    height: -moz-max-content;
    height: max-content;
    flex-direction: column;
    gap: 20px 0;
  }
  main #overview .container .overview-img {
    width: 100%;
    height: 252px;
  }
  main #overview .container .overview-img img {
    width: -moz-max-content;
    width: max-content;
    height: 98%;
  }
  main #overview .container .overview-body {
    width: 100%;
    height: 38%;
    flex-direction: row;
  }
  main #overview .container .overview-body::before {
    display: none;
  }
  main #overview .container .overview-body .card {
    width: 95px;
    height: 95px;
    padding: 5px;
  }
  main #overview .container .overview-body .card p {
    font-size: 12px;
    font-weight: normal;
  }
}
main aside .card {
  width: 800px;
  height: 600px;
  background-color: rgb(19, 77, 26);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
main aside .card .card-img {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main aside .card .card-img::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgb(19, 77, 26) 20%, rgba(19, 77, 26, 0));
  position: absolute;
  inset: 0 0 0 0;
}
main aside .card .card-img img {
  height: 80%;
  width: -moz-max-content;
  width: max-content;
}
main aside .card .card-body {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
main aside .card .card-body div {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  gap: 0 10px;
  color: white;
  font-weight: 600;
}

@media (max-width: 1199.98px) {
  main aside .card {
    width: 750px;
    height: 400px;
    padding: 10px;
  }
}
@media (max-width: 767.98px) {
  main aside {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main aside .card {
    width: 90%;
    height: -moz-max-content;
    height: max-content;
    padding: 10px 0;
  }
  main aside .card .card-img {
    width: 40%;
  }
  main aside .card .card-img img {
    width: 90%;
    height: -moz-max-content;
    height: max-content;
  }
  main aside .card .card-body {
    font-size: 14px;
    gap: 0;
  }
}
@media (max-width: 575.98px) {
  main aside .card {
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
  }
  main aside .card .card-body {
    width: 100%;
    height: 100px;
  }
  main aside .card .card-img {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
  }
}
footer {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-color: rgb(19, 77, 26);
  margin-top: 150px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
footer .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 30px;
}
footer .container .card {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
}
footer .container .card svg {
  width: 25px;
  height: 25px;
  fill: #edffef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(237, 255, 239);
}

/*# sourceMappingURL=main.css.map */